{% extends "base_generic.html" %}

{% block content %}
  <h1>Blog Home</h1>
  <p>Welcome to Blog!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus mauris scelerisque, condimentum elit non, elementum turpis. Proin quis aliquam eros. Pellentesque vitae ante vitae metus semper placerat. In euismod orci congue, accumsan tortor ut, rhoncus enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi in maximus ipsum. Phasellus a nisl sed justo porta posuere. Nunc auctor aliquam massa sed pellentesque. Phasellus a nulla libero. Vivamus scelerisque nunc lobortis diam auctor, eget varius dolor egestas. In at magna ac dui ultricies sagittis. Mauris id iaculis est. Proin dictum venenatis odio, commodo pretium dui ultrices euismod.</p>


  <p>Vivamus rhoncus porttitor diam, quis sollicitudin lacus volutpat nec. Suspendisse placerat, sapien et tincidunt accumsan, est quam laoreet arcu, vitae fringilla nulla lorem in metus. Donec risus mauris, semper sed vehicula ut, pulvinar dapibus erat. Sed egestas vehicula nunc, ut placerat enim commodo eu. Duis vitae lacus dolor. Morbi eget orci ac enim molestie varius at a urna. Donec metus magna, tincidunt laoreet dolor vitae, condimentum viverra lorem.</p>
{% endblock %}